body{
    background-color: #aeaeae;
}
.imagenes{
    padding: 11vw 5vw 14vw;
    min-height: 45vw;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    background-color: #aeaeae;
    justify-content: center;
}
.not-gif, .img-gif{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 20px;
}
.not-gif, .imagen-a:hover .img-gif{
    display: flex;
    cursor: pointer;
}
.img-gif, .imagen-a:hover .not-gif{
    display: none;
    cursor: pointer;
}
h2{
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-align: left;
    text-decoration: none;
}
