*{
    font-family: "Bigshot One", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.centrar-img{
   
    background-color: #1a1e23;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1vw 5vw 9.5vw;

   
}
.contenedor-asesor{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 42vw;
   
}
.contenedor-img{
    
    position: relative;
    height: auto;
    width: 100%;
   
}
.contenedor-img{
    height: auto;
    width: 30vw;
    text-align: center;
}
.imagenes-gif{
    height: 29.3vw;
    width: 100vw;
    border-radius: 20px;
}
.imagenes-gif-m{
    height: 29.3vw;
    width: 100vw;
    border-radius: 20px;
}
.imagenes-gif, .efecto:hover .imagenes-gif-m{
    display: flex;
}
.imagenes-gif-m, .efecto:hover .imagenes-gif{
    display: none;
}
h1{
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    color: white;
}