body{
    
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  


margin: 0;
padding: 0;
box-sizing: border-box;
}



img{
max-width: 100%;
width: relative;
height: relative;
}
.container{
max-width: 1200px;
margin: 0 auto;
}


header{    
display: flex;
min-height: 70px;
background-color: rgba(255, 255, 255, 0.829);
justify-content: space-between;
align-items: center;
padding: 10px;
}
 
.logo{
display: flex;
align-items: center;
color: black;
text-decoration: none;
}

.logo img{
height: 50px;
margin-right:10px ;
color: black;
}

.nav-link{
text-decoration: none;
color: black;
}
nav a{
font-weight: 600;
padding-right: 90px;
}
nav a:hover{
color: grey;
}
@media (max-width:700px){
header{
    flex-direction: column;
}
nav{
    padding: 10px 0px;
}
}
.btn-2{
    text-decoration: none;
    color:black;
}
