* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container-carusel {
    width: 100vw;
    height: 45vw;
    background-color: rgb(8, 236, 46);
    box-shadow: 1vw 0vw 1.5vw 0 rgba(0, 0, 0, 0.288);
    /* border-radius: 20px; */
    overflow: hidden;
    position: relative;

}
/* movimiento de carusel y su tamaño */
.caruseles {

    width: calc(100% * 5);
    height: 100%;
    display: flex;
    /* background-color: red; */
    /* border-radius: 20px; */
    object-fit: cover;


}
/* aca colocamos la cantidad de fotos multiplicado por 100% y luego se dividida en 100% */
.slider-section {
    width: calc(500% / 5);
    height: 100%;


}

.slider-section img {
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */

}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 1vw;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left:hover,
.btn-right:hover{
    background-color: #333333d4;
    color: white;
}

.btn-left{
left: 1vw;
}
.btn-right{
right: 1vw;
}

@media(max-width:1200px){
    section .container-carusel{
        position: flex;
        background: white;
       
    }
}
